@charset "UTF-8";
/* Formatação da página em geral */

:root {
	--black-hd: #00162d;
	--primary: #007bff;
	--black: #111;
	--info: #17a2b8;
	--teal: #20c997;
	--success: #28a745;
	--gray-dark: #343a40;
	--indigo: #6610f2;
	--secondary: #6c757d;
	--purple: #6f42c1;
	--gray-hr: #8c8b8b;
	--danger: #dc3545;
	--pink: #e83e8c;
	--gray-bg: #e3e3e3;
	--white-bg: #eee;
	--light: #f8f9fa;
	--white-bg: #f5f5f5;
	--orange: #fd7e14;
	--warning: #ffc107;
	--white: #fff;

	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

* {
	padding: 0;
	max-width: 1440px;
	margin: 0 auto;
	text-decoration: none;
	list-style: none;
	font-family: "roboto", Helvetica, Verdana, Tahoma, sans-serif;
	color: var(--black);
	font-size: 16px;
}

p {
	font-weight: 300;
	text-align: left;
	font-size: 0.8rem;
	color: var(--black);
	margin-top: 5px;
}

h1 {
	margin-top: 1rem;
	color: var(--black);
}

h2 {
	margin-top: 0.5rem;
	font-weight: bolder;
}

h5 {
	margin: 0.4rem 0;
	font-weight: bold;
}

hr {
	max-width: 90%;
	border-top: 1px solid var(--gray-bg);
	padding: auto auto;
}

img {
	width: 100%;
	display: block;
}
form button {
	background: var(--black-hd);
	color: white;
	font-size: 12px;
	cursor: pointer;
	border: none;
}

header {
	background-color: var(--white-bg);
	max-width: 100%;
}

/* Formatação do HEADER */

.adblock-top {
	background-color: var(--white-bg);
}

#adblock {
	display: block;
	width: 40%;
	margin: 0.5rem auto;
}

#adblock-2 {
	display: block;
	width: 60%;
	margin: 20px auto;
}

.cabecalho {
	background: var(--black-hd);
	max-width: 100%;
	display: flex;
	flex-direction: column;
	/*border: 2px solid white;*/
}

.cabecalho-logo {
	width: 30%;
	margin-left: 10%;
	padding: 20px 0 10px;
	/*border: 2px solid yellow;*/
}

.cabecalho-logo img {
	max-width: 90%;
}

#separator {
	border-top: 0.1px solid var(--gray-hr);
	width: 100%;
}

/* Formatação do Menu */

nav {
	/*border: 2px solid yellow;*/
	margin: auto 8%;
	display: flex;
	justify-content: space-between;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 0.2rem 0.5rem;
	/*border: 5px solid white;*/
}

form {
	font-size: 1rem;
	margin: 0.3rem 0.5rem;
	/*border: 5px solid white;*/
}

/* posiciona um elemento ao lado do outro e formata o botão */

.menu li {
	position: relative;
	margin: 0.2rem 0.7rem;
	text-align: left;
}

/* Formata o link da opção */

.menu li a {
	color: var(--white);
	display: block;
	transition: 1s;
	background: var(--black-hd);
}

/* Aplica uma nova cor toda vez que o mouse passa sobre os links*/

.menu li a:hover {
	text-shadow: 0px 0px 5px var(--white);
	background-color: var(--primary);
}

/*  Formata o sub-menu */

.menu li ul {
	position: absolute;
	top: 1.4em;
	display: none;
	z-index: 1;
}

.menu li ul li {
	width: 6rem;
}

.menu li:hover ul {
	display: block;
}

.menu li ul li a {
	background: var(--black-hd);
}

.menu li a i {
	color: var(--white);
}

.fa {
	font-size: 200%;
	background: var(--black-hd);
	color: var(--white);
	border-color: none;
}

/* Formatação do BODY e do MAIN */

main {
	margin: 0 auto;
	width: 100%;
}

/* Formatação das SECTIONs */

section,
section-2,
section-4 {
	max-width: 83%;
	margin: 0rem auto;
	display: grid;
	grid-template-columns: 66% 34%;
	gap: 1rem;
	border: 2px solid black;
}

section-3 {
	max-width: 83%;
	margin: 0px auto;
	display: grid;
	border: 2px solid black;
}

section-5 {
	max-width: 83%;
	margin: 0px auto;
	display: grid;
	border: 2px solid black;
}

/* Formatação das classes PRINCIPAL */

.principal-1,
.principal-2,
.principal-3,
.principal-4 {
	margin: 1rem 0.5rem;
	border: 2px solid black;
}

.principal-5 {
	/*border: 2px solid rgb(72, 255, 0);*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0.5rem;
	gap: 1rem;
	border: 2px solid black;
}

/* Formatação das classes ASIDE */

.aside-0 {
	background-color: var(--gray-bg);
	padding: 1rem 1rem;
	border: 2px solid black;
}

.aside-1,
.aside-2,
.aside-4 {
	margin: 1rem 0.5rem;
	background-color: var(--white);
	border: 2px solid black;
}

/* Formatação das sub-classes PRINCIPAL */

.principal-1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 0.6rem;
	gap: 0.5rem 1rem;
}

.principal-2-1,
.principal-4-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	padding: 1rem 0rem;
}

.principal-3-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1rem;
	padding: 1rem 0.5rem;
}

.principal-4-2 {
	/*border: 2px solid blue;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	margin-top: 0.6rem;
}

.principal-4-3 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 0.6rem;
	gap: 1rem;
}

.principal-4-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
	margin-top: 0.6rem;
}

/* Formatação das sub-classes ASIDE */

.aside-1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem 0.7rem;
	padding: 0.7rem 0;
}

.aside-2-1 {
	margin: 0.4rem 0rem;
}

.aside-2-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding: 1rem 0.5rem;
}

/* Formatação das classes BANNER */

.banner {
	padding: 0.4rem 0;
}

.banner-2 {
	max-width: 98%;
}

.banner-3 {
	max-width: 70%;
	margin: 2% auto;
}

.banner img {
	padding: 0.5rem 0;
}

/* Formatação das classes CAT-LINK e BY */

.cat-link {
	font-size: 0.6rem;
	font-weight: 500;
	background-color: var(--primary);
	color: var(--white);
	padding: 3px 8px;
}

.by {
	font-size: 0.7rem;
	color: var(--primary);
	font-weight: bold;
	padding: 2px 8px 3px 0;
}

/* Formatação das classes SUB-TITLE */

.sub-title {
	/*border: 2px solid red;*/
	margin: 0 0.5rem;
}
.sub-title hr {
	border-top: 4px solid var(--primary);
	width: 2rem;
	margin-left: 0%;
	margin-top: 0.2rem;
}

.principal-5 hr {
	margin: 1rem 0;
}

.item-2 {
	display: grid;
	grid-template-columns: auto auto;
}

/* Formatação do FOOTER */

footer {
	max-width: 100%;
	margin: 0rem auto;
	padding: 1% 8%;
	background: var(--black-hd);
	display: grid;
	grid-template-columns: 4fr 1fr;
	/*border: 5px solid red;*/
}

.footer-left {
	border: 5px solid green;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0%;
}

.footer-right {
	border: 5px solid blue;
	display: flex;
}

.footer-left nav {
	margin: 0;
}

.footer-up {
	display: flex;
	margin-left: 0%;
}

.footer-down {
	display: flex;
	margin-left: 0%;
}

footer li,
footer a {
	color: var(--white);
	margin-left: 0px;
	font-size: 0.75rem;
}

.footer-left li {
	margin-right: 1rem;
}

.footer-right i {
	color: var(--white);
	font-size: 1.5rem;
	margin: 1rem;
}

/* Configuração da responsividade*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 1200px and smaller) */
@media (max-width: 1200px) {
	section,
	section-2,
	section-4 {
		display: block;
	}

	/* Formatação das classes ASIDE */

	.aside-0 {
		background-color: var(--white);
	}

	.aside-1,
	.aside-2,
	.aside-4 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	.aside-4-0 .banner-2 {
		display: none;
	}

	/* Formatação do FOOTER */

	footer {
		display: block;
		position: relative;
	}

	.footer-left {
		flex-direction: row;
	}

	.footer-right {
		display: block;
		position: absolute;
		bottom: 1rem;
		right: 15%;
	}

	.footer-up {
		display: block;
		margin-bottom: 0.8rem;
	}

	.footer-down {
		display: block;
	}

	footer li,
	footer a {
		margin: 0.8rem 0;
	}

	.footer-right i {
		margin: 2rem;
	}
}

/* Medium devices (landscape tablets, 992px and smaller) */
@media (max-width: 992px) {
	.principal-1-1,
	.principal-2-1,
	.principal-3-1,
	.principal-4-1,
	.principal-4-4,
	.principal-5 {
		grid-template-columns: 1fr;
	}

	.aside-1,
	.aside-2,
	.aside-4 {
		grid-template-columns: 1fr;
	}

	footer {
		padding: 1% 8%;
	}

	.footer-right {
		right: 20%;
	}
}

/* Small devices (portrait tablets and large phones, 768px and smaller */
@media (max-width: 768px) {
	.principal-2-1,
	.principal-3-1,
	.principal-4-1,
	.principal-4-4,
	.principal-5 {
		grid-template-columns: 1fr;
	}

	/* Formatação do FOOTER */

	footer {
		display: block;
		/*border: 5px solid red;*/
	}

	.footer-left {
		border: 5px solid green;
		flex-direction: column;
		margin-left: 2%;
	}

	.footer-right {
		border: 5px solid blue;
		display: flex;
		position: initial;
		justify-content: space-around;
	}

	.footer-right i {
		margin: 0;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599.98px) {
}
